.image-info-wrapper {
  display: flex;
}

.app-title {
  margin: 0;
  padding-right: 32px;
}

.header {
  display: flex;
}

.date-picker-container > div > div.react-datepicker__input-container input {
   width: 145px;
   cursor: pointer;
}

