.image-container {
  margin: 16px 0;
  border: white;
  background-color: #181818;
  border-radius: 4px;

 -webkit-animation-duration: 4s;
 animation-duration: 4s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}

.media {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  border: none;
  max-height: 800px;
  min-height: 600px;
}

.like-icon {
  display: flex;
  margin-top: 16px;
  width: 50px;
  justify-content: center;
}

.like-icon:hover {
 cursor: pointer;
 transform: scale(1.2);
}

.finger-icon {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  right: 51%;
}

.no-image-text {
  padding-top: 50px;
}

.copyright-text {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  margin: 0 8px 8px;
  padding-top: 8px;
  text-align: start;
  min-height: 30px;
}

.date-text {
  font-size: 12px;
  text-align: end;
  padding: 0 16px 8px 0;
  letter-spacing: .2px;
  color: #b3b3b3;
  font-weight: 600;
}

.image-explanation {
  padding: 0 16px;
  font-size: 16px;
  text-align: justify;
}

@keyframes MoveUpDown {
  0%, 100% {
   top: 45px;
  }
  50% {
    top: 60px;
  }
}

@media screen and (max-width: 500px) {
  .media {
    max-height: 465px;
    min-height: 375px;
  }

  .image-explanation {
    font-size: 13px;
  }
}