
.finger-icon {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  right: 51%;
}

.no-image-text {
  padding-top: 50px;
}

.media {
  object-fit: fill;
  border-radius: 4px;
  min-height: 614px;
  width: 614px;
  border: none;
}

@keyframes MoveUpDown {
  0%, 100% {
   top: 45px;
  }
  50% {
    top: 60px;
  }
}